TWITCH_APPLICATION_ID=""
TWITCH_APPLICATION_SECRET=""
YOUTUBE_API_KEY=""
GITHUB_API_KEY=""
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
PUPPETEER_EXECUTABLE_PATH=/var/lib/flatpak/exports/bin/org.chromium.Chromium
PALLASDB_SEQUELIZE_ALTERNATIVE_DIALECT="mysql"
SHOULD_USE_REDIS_MULTI_SHARD_CACHE=true