TWITCH_APPLICATION_ID=""
TWITCH_APPLICATION_SECRET=""
YOUTUBE_API_KEY=""
GITHUB_API_KEY=""
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
PUPPETEER_EXECUTABLE_PATH=/var/lib/flatpak/exports/bin/org.chromium.Chromium