TWITCH_APPLICATION_ID=""
TWITCH_APPLICATION_SECRET=""
YOUTUBE_API_KEY=""
GITHUB_API_KEY=""
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
PUPPETEER_EXECUTABLE_PATH=/var/lib/flatpak/exports/bin/org.chromium.Chromium
DB_STATS_CHANNEL=""
TOTAL_SHARDS=1
BOT_TOKEN=""
DEV="false"

# Mail part
SMTP_HOST=mail.example.com
SMTP_PORT=465 # 587 for no-SSL
SMTP_SECURE="true" # false for no-SSL
SMTP_USER="bot@example.com"
SMTP_PASS="Your Password"

OWNER_MAIL="owner@example.com"