/Dockerfile
/package-lock.json
/tsconfig.json
/.gitignore
/.dockerignore
/types
/lavalink
/src/Interaction
/src/Events
/src/Core
/src/lang
/src/assets
/src/builder.ts
/src/index.ts
/src/version.ts
/tools

/src/files/backups
/src/files/giveaways
/src/files/config.ts
/src/files/config.example.ts
/src/files/db.sqlite
/src/files/error.log
/src/files/slash.log

/dist/src/index.js
/bun.lockb
/dist/tools
/dist/package.json
/dist/src/files/